@charset "utf-8";
.cropper-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(189, 189, 189, 0.5);
}

.cropper-img-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cropper-toolbar {
  display: inline-block;
  position: relative;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(3, 6, 8, 0.8);
  border-radius: 5px;
  margin: 0;
  padding: 0;
}

.cropper-toolbar a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}

.cropper-toolbar a:hover {
  background-color: rgba(189, 189, 189, 0.3);
}

.cropper-handler {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: rgba(79, 195, 247, 0.8);
}

.cropper-cover {
  box-sizing: border-box;
  position: absolute;
  background-color: rgba(189, 189, 189, 0.5);
}

.cropper-cover-center-center {
  background: none;
  border: 2px solid rgb(3, 169, 244);
}
